@charset "utf-8";
body {
    padding: 10px;
}
#SearchBox {
    margin-bottom: 10px;
}
.SearchResultContainer {
    margin-bottom: 10px;
}
.SearchInfo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
table {
    border-collapse:collapse;
    border: solid 1px black;
}
td, th {
    padding: 0;
    font-size: 12.5px;
}
th {
    text-align: left;
}
thead tr {
    border-bottom: solid 1px black;
    background-color: #AAAAAA;
}
tr:nth-child(even){
    background-color: #DDDDDD;
}
.CNo {
    width: 40px;
}
.CStr {
    width: 60px;
}
.CCStr {
    width: 80px;
}
.CType {
    width: 120px;
}
.CName, .CBName {
    width: 300px;
}
.CDesc {
    width: 600px;
}
.Untradable {
    color: #CC3333;
}